/audio - Copy (2).wav
/audio - Copy.wav
/audio.wav
/audio1.wav
/audio10.wav
/audio11.wav
/audio12.wav
/audio13.wav
/audio14.wav
/audio15.wav
/audio16.wav
/audio17.wav
/audio18.wav
/audio19.wav
/audio2.wav
/audio20.wav
/audio21.wav
/audio22.wav
/audio23.wav
/audio24.wav
/audio25.wav
/audio26.wav
/audio27.wav
/audio28.wav
/audio29.wav
/audio3.wav
/audio30.wav
/audio4.wav
/audio5.wav
/audio6.wav
/audio7.wav
/audio8.wav
/audio9.wav
/__pycache__